@font-face {
    font-family: 'Real_Hylian';
    src: url('../fonts/SSAncientHylian.woff2') format('woff2'),
        url('../fonts/SSAncientHylian.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MegaMan_2';
    src: url('../fonts/MegaMan-2.woff2') format('woff2'),
        url('../fonts/MegaMan-2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ferbtastic';
    src: url('../fonts/Ferbtastic.woff2') format('woff2'),
        url('../fonts/Ferbtastic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Psych';
    src: url('../fonts/AmericanTypewriter.woff2') format('woff2'),
        url('../fonts/AmericanTypewriter.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fortnite';
    src: url('../fonts/BurbankBigCondensed-Black.woff2') format('woff2'),
        url('../fonts/BurbankBigCondensed-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fake_Hylian';
    src: url('../fonts/TPHylian-GCNRegular.woff2') format('woff2'),
        url('../fonts/TPHylian-GCNRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Discord';
    src: url('../fonts/UniSansHeavyCAPS.woff2') format('woff2'),
        url('../fonts/UniSansHeavyCAPS.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zelda';
    src: url('../fonts/HyliaSerifBeta-Regular.woff2') format('woff2'),
        url('../fonts/HyliaSerifBeta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Top_Ramen';
    src: url('../fonts/CooperFiveOpti-Black.woff2') format('woff2'),
        url('../fonts/CooperFiveOpti-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

