<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/fonts.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/scripts/changeFont.js"></script>
    </head>

    <body>
        {{>header}}
        <div id="content">
            <div id='info'>It's Psych, you get it or you don't</div>
            <div id="hidden">
                About pages are as about as useful as notes pages in the backs of game manuals.
                I've never known a single person that actually used those. Wait, scratch that,
                GTA San Andreas cheat codes, everybody did that. Not that I ever was allowed
                to play any GTA games. My parents didn't let me play any games where you killed
                people, but for some reason it was ok to kill clones in Battlefront. What, just
                because their made from someone else's DNA means their lesser than you and the
                rest of the population? Well I've got news for you Donna, we're all made from
                someone else's DNA, that's how making children works. Now go home and take a
                bath, you smell like ignorance.
            </div>
        </div>
    </body>
</html>