<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/fonts.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/scripts/changeFont.js"></script>
    </head>

    <body>
        <div id="hidden">Go to the about page and paste this into the console: document.getElementById('hidden').style.display = 'block'</div>
        {{>header}}
        <div id="content">
            <div id="titleHead">FAQs</div>
            <div class="question">Q: How do I generate a nickname?</div>
            <div class="answer">A: You click the big button the says "Generate a Nickname", idiot</div>
            <div class="question">Q: How do I change the font?</div>
            <div class="answer">A: You click the big box at the top with the name of a font, idiot</div>
            <div class="question">Q: How do I view more details about a specific nickname?</div>
            <div class="answer">A: You click on it, idiot</div>
                <div class="question">Q: How do I get to the faqs page?</div>
            <div class="desktop">
                <div class="answer">A: Finally, a good question, alright, press ctrl + shift + i and then copy and paste "document.querySelector("head").remove();" into the console and press enter</div>
            </div>
            <div class="answer">A: Finally, a good question, alright, (do something that messes up the site)</div>
            <div class="question">Q: How do I get a girlfriend?</div>
            <div class="answer">A: Let me know when you find the answer</div>
            <div class="question">Q: Who's Gus? What's Psych?</div>
            <div class="answer" style="margin-bottom: 0px">A: ...idiot</div>
        </div>
    </body>
</html>