<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/fonts.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/scripts/defNames.js"></script>
        <script src="/scripts/getRandName.js"></script>
        <script src="/scripts/changeFont.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {{>header}}
        <div class="content">
            <div id="vertAlign">
                <a id="name">Welcome to the officially unofficial Gus nickname generator!<br><br>
                    Click the button below to get started
                </a>
                <div id="isMobile"></div>
                <button onClick="getRandName(allNames)" id="another">Generate a Nickname</button>
            </div>
        </div>
    </body>
</html>