<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/fonts.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/scripts/defNames.js"></script>
        <script src="/scripts/getRandName.js"></script>
        <script src="/scripts/changeFont.js"></script>
    </head>

    <body>
        {{>header}}
        <div class="content">
            <div id="vertAlign">
                <a id="name">Welcome to the officially unofficial Gus nickname generator!<br>
                    Click the button below to get started
                </a>
                <div id="isMobile"></div>
                <button onClick="getRandName(allNames)" id="another">Generate a Nickname</button>
            </div>
        </div>
        <script>changeFont(sessionStorage.selectedFont)</script>
    </body>
</html>