<div id="header">
    <div id="linkContainer">
        <center>
            <ul class="desktop" id="links">
                <li><a class="headerLinks" href="/">Home Page</a></li>
                <li><a class="headerLinks" href="/names">All Names</a></li><br class="mobile">
                <li><a class="headerLinks" href="/faqs">FAQs</a></li>
                <li><a class="headerLinks" href="/about">About</a></li>
            </ul>
            <ul class="mobile" id="links">
                <li id="first">
                    <div>
                        <a id="first" class="headerLinks" href="/">Home Page</a>
                        <a class="headerLinks" href="/names">All Names</a>
                    </div>
                </li>
                <li>
                    <div>
                        <a id="first" class="headerLinks" href="/faqs">FAQs</a>
                        <a class="headerLinks" href="/about">About</a>
                    </div>
                </li>
            </ul>
        </center>
        
    </div>
    <div class="select-box">
        <div class="select-box__current" tabindex="1"></div>
        <ul class="select-box__list"></ul>
    </div>
    <center>
        <div class="mobileSelectContainer"></div>
    </center>
</div>
