<div id="header">
    <div id="linkContainer">
        <center>
            <ul id="links">
                <li><a class="headerLinks" href="/">Home Page</a></li>
                <li><a class="headerLinks" href="/names">All Names</a></li>
                <li><a class="headerLinks" href="/faqs">FAQs</a></li>
                <li><a class="headerLinks" href="/about">About</a></li>
            </ul>
        </center>
        
    </div>
    <div class="select-box">
        <div class="select-box__current" tabindex="1"></div>
        <ul class="select-box__list"></ul>
    </div>
</div>
